__pycache__/
*.pyc
*.pyo
.env
.venv
env/
venv/
.ipynb_checkpoints/
*.log
*.out
*.err

# Data excluded
csv/
fichiers_xpt/
*.csv
*.xpt


# Temporary HTML and notebook output
reports/*.html
*.nbconvert.ipynb

# Hugging Face internals
Health-risk-predictor/.git/
Health-risk-predictor/__pycache__/

# OS files
Thumbs.db
desktop.ini

# VS Code
.vscode/
